.recentandpopular-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin: 2em;
    gap: 2em;
}
.recent-popular-news-container{
    display: flex;
    width: 47%;
    flex-wrap: wrap;
    
}
.recent-popular-popular-container{
    width: 47%;
}