.footer-main-container {
    display: flex;
    background-color: azure;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 4em;
    margin-top: 5em;

    /* width: 100%; */
    height: 10em;
}

.footer-right-search-container {
    display: flex;


}

.footer-right-description-container {
    flex-wrap: wrap;
 
   
}

.footer-botton-box-container {
    width:none;
}