.img-container {
  width: 10em;
  height: auto;
  flex-shrink: 1;
  justify-content: flex-end;
}
/* .right-side-container{ */
/* padding: 1em; */
/* } */
.left-side-description-container {
  padding-left: 1em;

  overflow: hidden;
display: -webkit-box;
-webkit-line-clamp:4;
-webkit-box-orient: vertical;
}
.left-side-container {
  padding-top: 2em;
  width: 15em;
  flex-shrink: 2;
  background-color: rgb(214, 225, 244);
}