.bottom-container {
    justify-content:center;
    display: flex;
    grid-row: auto;
    text-decoration: none;
    gap: 5em;
   
}
/* .main-bottom-container{ */
    /* text-decoration: none; */
/* } */