.bottom-container {
    justify-content:center;
    display: flex;
    /* grid-row: auto; */
    text-decoration: none;
    flex-shrink: 2;
    align-items: stretch;
    gap: 20%;
    /* justify-content: space-between; */
   
}
/* .main-bottom-container{ */
    /* text-decoration: none; */
/* } */