.bottom-container {
    justify-content:center;
    display: flex;
    /* grid-row: auto; */
    text-decoration: none;
    flex-shrink: 2;
    align-items: stretch;
    gap: 30%;
    /* text-underline-offset: none; */
    /* justify-content: space-between; */
    background-color: blanchedalmond;
   
}
/* .main-bottom-container{ */
    /* text-decoration: none; */
/* } */
.bottom-nav-container{
    text-decoration: none;
}