.image-description-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   padding: 2em;
}
.image-container{
    width: 26em;
    height: 20em;
    /* flex-shrink: 1; */
    /* justify-content: center; */
    
}
.carousel-description-container{
    flex-wrap: wrap;
    width: 27em;
    /* justify-content: center; */
}
.Carousel-container{
    background-color: cornsilk;
}