.Editorspick-container{
    width: none;
    display: flex;
    justify-content: center;
    /* background-color:blanchedalmond; */
    gap: 2em;
    flex-wrap: wrap;
    padding: 3em;
    margin-top: 3em;
    background-color: azure;
}
.Editorspick-description-container{
    width: 38em;
}
.Editorspick-image-containers{
    width: 30em;
    height: auto;
}