.top-container {
    display: flex;
    /* padding: 2em; */
    /* margin-top:1em; */
    gap: 5em;
    text-align: center;
}

.search-side-container {
    display: flex;
    padding-top: 2em;
  
    padding-left: 25em;
}



.logo-container {
    padding-left: 5em;
}

.button-container {

    align-items: center;
    color: black;

    /* margin: 1px; */
}