.top-container {
    /* display: flex; */
    padding-bottom: 4em;
    padding: 1em;
    /* margin-top:1em; */
    /* gap: 90%; */
    flex-shrink: 2;
    flex-grow: 2;
    
    /* background-color: bisque; */
    justify-content: center;
}

.search-side-container {
    display: flex;
    /* padding-top: 2em; */
  flex-shrink: 2;
  /* align-items: stretch; */

  justify-content: flex-end;
    /* padding-right: 5em; */
}



.logo-container {
    justify-content: flex-start;
    /* padding-left: 5em; */
    flex-shrink: 1;
    /* align-items: flex-start; */
}

.button-container {
    
    align-items: center;
    color: black;
    
    
    
    /* margin: 1px; */
}
.container{
    padding: 1em;
    /* background-color: rgb(6, 18, 29); */
}.inner-top-container{
    padding: 1em;
    /* background-color: blue; */
}
.search-container{
    background-color: antiquewhite;
}