.popularpost-image-title-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    background-color: antiquewhite;
    

}

.popularpost-image-container {
    width:15em;
    height:12em;
    flex-shrink: 2;
   
}
.popularpost-title-container{
    width: 15em;

     flex-shrink: 2;
     flex-wrap:wrap ;
}