.Editor-bottom-container{
    display: flex;
   
    justify-content: center;
    flex-shrink: 2;
    flex-wrap: wrap;
}
.Trendingandeditor-main-container{
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    
}
/* .Top-heading-container{
    display: flex;
} */
.Editor-heading-container{
    padding: 1em;
    justify-content: flex-start;
}
.Editor-container{
    
   background-color: beige;
 }
.Trending-container{
    width: 30%;
    flex-wrap: wrap;
    background-color:aliceblue;
    padding: 1em;
}