.Editor-bottom-container{
    display: flex;
    /* padding: none;
    gap: none;
    margin: none; */
    
}
.Trendingandeditor-main-container{
    display: flex;
}
/* .Top-heading-container{
    display: flex;
} */